.container {
  width: 70%;
  margin: 20px auto;
}

table {
  border-top: 1px solid #ddd;
  height: 400px;
  overflow: auto;
  width: 100%;
  border-collapse: collapse;
  display: block;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}

.icon {
  font-size: 24px;
  color: #cccccc;

  &:hover {
    color: #da3c3c;
    cursor: pointer;
  }
}

td:hover {
  cursor: text;
}

td.id {
  display: none;
}

.button {
  display: block;
  color: rgb(255, 255, 255);
  font-weight: 500;
  line-height: 1;
  margin: 0 0 20px 0;
  position: relative;
  text-align: center;
  text-transform: none;
  background-color: rgb(89, 145, 255);
  border-radius: 4px;
  font-size: 14px;
  padding: 15px 24px 14px;
  white-space: pre-wrap;
  width: auto;
  min-width: 0;
  border: none;
  vertical-align: baseline;

  &:hover {
    cursor: pointer;
  }
}
