@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


.cow {
  padding: 10px;
  border: 1px solid #ccc;
  background: aliceblue;
  margin: 10px 0;

  &:hover {
    cursor: pointer;
  }
}
